<form action="/" method="POST" enctype="multipart/form-data">
    <div class="entry_field">
        <label> Title </label>
        <input type="text" name="title" value="Test Title" required>
    </div>
    <div class="entry_field">
        <label> Content </label>
        <input type="text" name="content" value="Test Content here" required>
    </div>
    <div class="entry_field">
        <label> Embed Youtube Video </label>
        <input type="text" name="youtube_video_url" value="https://www.youtube.com/watch?v=aRGdDy18qfY&t=20s&ab_channel=BroCode">
    </div>
    <div class="entry_field">
        <label> File upload </label>
        <input type="file" name="input_file">
    </div>
    <button type="submit">Create Note</button>
</form>