<form action="/" method="POST">
    <div class="entry_field">
        <label> Title </label>
        <input type="text" name="title" required>
    </div>
    <div class="entry_field">
        <label> Content </label>
        <input type="text" name="content" required>
    </div>
    <button type="submit">Create Note</button>
</form>
