<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.css"> <!-- no need to add public to directory in file path-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="/scripts/onload_scroll.js"></script>
    <title>The Dev Logs</title>
</head>

<body>

    <div class="create_note_container">
        <h1>The Dev Logs</h1>
        <!-- Create note section -->
        <%- include('../partials/_create_note.ejs') %>
    </div>
    <section class="notes_section">
        <%- body %>
    </section>

</body>

</html>