* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:
     rgb(196, 200, 204);
}

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: inherit;
}


body {
    font-family: 'Nunito Sans', sans-serif;
}

.notes_section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
}

.create_note_container {
    border: black solid 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.create_note_container form {
    border: black solid 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.create_note_container form button {
    padding: 5px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.entry_field {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

textarea {
    resize: vertical;
    display: block;
    height: 21.6px;
}

.notebox {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.modifiers_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modifiers_container .note_modifier {
    width: fit-content;
}

.modifiers_container #delete_form {
    width: fit-content;
    justify-self: end;
}

.note_modifier {
    font-size: 12px;
    font-weight: normal;
}


#edit_button {
    padding: 4px;
    border: solid 1px rgb(37, 58, 247); 
    border-radius: 35%;
    background-color: rgb(124, 189, 255);
} 

#delete_button {
    justify-self: end;
    padding: 5px;
    border: solid 1px black; 
    border-radius: 30%;
    color: black;
    background-color: #fd6860;
} 

#update_button {
    
} 

#cancel_button {
    justify-self: end;
} 