* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:rgb(219, 219, 219);
    font-family: 'Nunito Sans', sans-serif;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: inherit;
}

textarea {
    display: block;
    height: 21.6px;
    padding: 3px;
    resize: vertical;
    overflow: hidden;
}

.notes_section {
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    padding: 50px;
    background-image: url('/assets/static_images/corkboard.jpg'); 
    background-repeat: cover;
    /* https://res.cloudinary.com/cspaveljb/image/upload/v1499110969/cork_w2tt25.jpg */
}

#strava_link {
    background-color: #fc4c02;
    color: white;
    padding: 5px;
}

.create_note_container {
    border: black solid 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.create_note_container form {
    border: black solid 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(218, 215, 254);
}

.create_note_container label {
    font-size: 18px;
    font-weight: bold;
}

.create_note_container label span {
    color:rgb(216, 0, 0);
}

.create_note_container .required_indicator {
    align-self: center;
}

.create_note_container .required_indicator span {
    color:rgb(216, 0, 0);
    font-weight: bold;
}

.create_note_container form button {
    background-color: rgb(73, 193, 89);
    padding: 5px;
    width: fit-content;
    align-self: center;
    font-weight: bold;
    cursor: pointer;
}

.create_note_container form button:hover {
    filter: brightness(120%);
}

.entry_field {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* #ffcb88 */

.notebox {
    background: url('/assets/static_images/white_notebook_snip_resize2.jpg') repeat-y;
    /* background: url('/assets/static_images/white_notebook_snip_resize2_darkmode_lines2.png') repeat-y; */
    display: flex;
    flex-direction: column;
    padding: 100px 20px 50px;
    gap: 10px;
    word-wrap: break-word;
    width: 900px;
    position: relative;
    line-height: 25px;
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.354);
}

.notebox #notebox_heading {
    text-align: center;
    padding-bottom: 50px;
    font-size: 60px;
    line-height: 40px;
    padding-left: 141.9px;
}

.notebox_content_container {
    display: grid;
    grid-template-columns: 0.165fr 0.825fr;
}

#notebox_content_title {
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    text-decoration: underline;
}

#notebox_content {
    position: relative;
    font-size: 30px;
    padding-left: 10px;
}
/* https://stackoverflow.com/questions/15721373/how-do-i-ensure-that-whitespace-is-preserved-in-markdown*/

#notebox_content p, li {
    position: relative;
    top: 5px;
    line-height: 33px;
    white-space: pre-wrap;
}

#notebox_content h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-size: 35px;
    line-height: 33px;
    top: 4px; 
    white-space: pre-wrap;
}

#notebox_content a {
    color: #3366CC;
    font-weight: bold;
}

#notebox_content a:hover {
    text-decoration: underline;
}

#notebox_content a:visited {
    color: #551A8B;
}


.notebox #drawing_pin_image {
    position: absolute;
    left: 37%;
    top: -40px;
    height: auto;
    width: 200px;
}

/* https://pixabay.com/vectors/drawing-pin-tack-thumbtack-red-146214/ */


.notebox #edited_title {
    font-family: 'Indie Flower', cursive;
    width: fit-content;
    background: none;
    color: gray;
    align-self: center;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    line-height: 40px;
    margin-left: 141.9px;
    margin-bottom: 27px;
    position: relative;
    top: -23px;
}

.notebox #edited_content {
    font-family:  'Nunito Sans', Geneva, Tahoma, sans-serif;
    background: none;
    font-size: 30px;
    line-height: 33px;
    padding: 2px 10px;
    border: solid 1px #ddd;
}



.notebox #upload_image {
    align-self: center;
    height: auto;
    width: 600px;
}

.notebox .youtube_link_container {
    margin: auto;
}

.notebox .youtube_link_container span {
    font-weight: bold;
} 

.notebox .youtube_link_container a {
    color:#0000EE;
    cursor: pointer;
}

.notebox .youtube_link_container a:hover {
    text-decoration: underline;
} 

.notebox #timestamp {
    align-self: center;
    font-style: italic;
}

.notebox form {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modifiers_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: inherit;
}

.modifiers_container .note_modifier {
    width: fit-content;
    cursor: pointer;
}

.modifiers_container #delete_form {
    width: fit-content;
    justify-self: end;
}

.note_modifier {
    font-size: 25px;
    font-weight: bold;
}

.note_modifier:hover {
    filter: brightness(120%);
}

.file_input_container {
    background-color: inherit;
}

#edit_button {
    padding: 12px;
    border: solid 1px rgb(37, 58, 247); 
    border-radius: 40px;
    background-color: rgb(124, 189, 255);
} 

#delete_button {
    justify-self: end;
    padding: 10px;
    border: solid 1px black; 
    border-radius: 20px;
    color: black;
    background-color: #fd6860;
} 

#update_button {
    padding: 5px;
    border: solid 1px black; 
    border-radius: 20px;
    color: black;
    background-color: #f79b6a;
} 

#cancel_button {
    justify-self: end;
    background-color: rgb(163, 153, 153);
    text-align: center;
    padding: 10px;
    border: solid 1px black; 
    border-radius: 20px;
    color: black;
} 